---
layout: page
title: Archive
permalink: /archive/
---
{% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
{% for year in posts_by_year %}
<section class="archive-year">
  <h2 class="archive-year-label">{{ year.name }}</h2>
  <ul class="essay-list">
    {% for post in year.items %}
    <li class="essay-item">
      <a class="essay-item-title" href="{{ post.url | relative_url }}">{{ post.title }}</a>
      <p class="essay-item-meta">
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time>
      </p>
      {% if post.description %}
      <p class="essay-item-description">{{ post.description }}</p>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</section>
{% endfor %}
